  
body {
    background-color: black;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    color: white;
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
}
label {
    margin: 2vh 0;
}
.inputDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: pink;
    color: black;
}
#disp {
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw;
    align-items: center;
}

#disp img {
    height: 5vh;
    width: 2vw;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer img {
    width: 8vw;
    margin: 0 2vw;
    margin-top: 2vh;
}
input,
.btn{
    color: black;
    width: 40vw;
    margin-bottom: 10px;
    padding: 9px;
}
.btn{
    cursor: pointer;
    background-color: slateblue;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
#green {
    color: lightgreen;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}